@using AccAcademyBookStore
@model AccAcademyBookStore.Genres

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Insert</title>
</head>
<body>
    <h1>Inserte un Genero</h1>
    <form method="post">
        Nombre Del Genero:
        <input type="text" name="Genre" value="" />

        <button>Enviar Datos</button>
    </form>

</body>
</html>
